-# グローバルフッター〜〜〜〜〜〜あとで切り分けに使う。
.footer-container__over-flow-reset
  %aside.app__banner
    .app__banner__box
      .app__banner__box__left-side
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .app__banner__box__left-side__inner
          %figure.app__banner__box__left-side__inner__left
            = image_tag("mercari_icon.png")
          %ul.app__banner__box__left-side__inner__right
            %li.app__banner__box__left-side__inner__right__apple
              = link_to image_tag("app-store.svg", width: '133', height: '40', alt: "App store画像"), root_path, class: "app__banner__left-side__inner-right__apple-icon"
            %li.app__banner__box__left-side__inner__right__google
              = link_to image_tag("google-play.svg", width: '133', height: '40', alt: "Google Play画像"), root_path, class: "app__banner__left-side__inner-right__google-icon"
      .app__banner__box__right-side
        = image_tag("download_content_pc.png", width: '300', height: '262', alt: "メルカリモバイル画像")
  %footer.global-footer
    %nav.global-navigation
      .global-navigation__child--1
        %h2.global-navigation__child--1__guide
          メルカリについて

        %ul.global-navigation__child-1__list
          %li.global-navigation__child-1__list-item
            = link_to "会社概要（運営会社）", root_path
          %li.global-navigation__child-1__list-item
            = link_to "採用情報", root_path
          %li.global-navigation__child-1__list-item
            = link_to "プレスリリース", root_path
          %li.global-navigation__child-1__list-item
            = link_to "公式ブログ", root_path
          %li.global-navigation__child-1__list-item
            = link_to "メルカリロゴ利用ガイドライン", root_path
          %li.global-navigation__child-1__list-item__twitter
            = link_to root_path, class: "global-navigation__child-1__list-item__twitter" do
              = fa_icon "twitter", class: "global-navigation__child-1__list-item__twitter__icon"
          %li.global-navigation__child-1__list-item__facebook
            = link_to root_path, class: "global-navigation__child-1__list-item__facebook" do
              = fa_icon "facebook-square", class: "global-navigation__child-1__list-item__facebook__icon"
      .global-navigation__child-2
        %h2.global-navigation__child-1__guide
          ヘルプ＆ガイド
        %ul.global-navigation__child-2__list
          %li.global-navigation__child-2__list-item
            = link_to "メルカリガイド", root_path
          %li.global-navigation__child-2__list-item
            = link_to "らくらくメルカリ便", root_path
          %li.global-navigation__child-2__list-item
            = link_to "ゆうゆうメルカリ便", root_path
          %li.global-navigation__child-2__list-item
            = link_to "大型メルカリ便", root_path
          %li.global-navigation__child-2__list-item
            = link_to "車体取引ガイド", root_path
          %li.global-navigation__child-2__list-item
            = link_to "メルカリあんしん・あんぜん宣言！", root_path
          %li.global-navigation__child-2__list-item
            = link_to "偽ブランド品撲滅への取り組み", root_path
          %li.global-navigation__child-2__list-item
            = link_to "メルカリボックス", root_path
      .global-navigation__child-3
        %h2.global-navigation__child-3__guide
          プライバシーと利用規約
        %ul.global-navigation__child-3__lizzz
    .global-footer__bottom
      = link_to image_tag("logo-white.svg", width: '124', height: '33', alt: "App store画像"), root_path, class: "global-footer-bottom__logo"
      %span.global-footer-bottom__copy-light
        %small.global-footer-bottom__copy-light__text
          &copy; 2019 Mercari