.mypage-nav
  %ul.mypage-nav-lists
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          マイページ
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          お知らせ
          %i.fa.fa-chevron-right.list-icon
        
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          やることリスト
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          いいね！一覧
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          出品する
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to "/mypages/#{current_user.id}/listing_list", class: 'information-link' do
        .mypage-nav-list__item 
          出品した商品 - 出品中
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          出品した商品 - 取引中
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to "/mypages/#{current_user.id}/listing_completed", class: 'information-link' do
        .mypage-nav-list__item 
          出品した商品 - 売却済み
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          購入した商品 - 取引中
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to "/mypages/#{current_user.id}/purchased", class: 'information-link' do
        .mypage-nav-list__item 
          購入した商品 - 過去の取引
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          ニュース一覧
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          評価一覧
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          ガイド
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          お問い合わせ
          %i.fa.fa-chevron-right.list-icon
  
  %h3.mypage-nav-head メルペイ
  %ul.mypage-nav-lists
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          売上・振り込み申請
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          ポイント
          %i.fa.fa-chevron-right.list-icon
  
  %h3.mypage-nav-head 設定
  %ul.mypage-nav-lists
    %li.mypage-nav-list
      = link_to "/mypages/#{current_user.id}/profile", class: 'information-link' do
        .mypage-nav-list__item 
          プロフィール
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          発送元・お届け先住所変更
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to "/mypages/#{current_user.id}/card", class: 'information-link' do
        .mypage-nav-list__item 
          支払い方法
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          メール/パスワード
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to "/mypages/#{current_user.id}/identification", class: 'information-link' do
        .mypage-nav-list__item 
          本人情報
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to  root_path, class: 'information-link' do
        .mypage-nav-list__item 
          電話番号の確認
          %i.fa.fa-chevron-right.list-icon
    %li.mypage-nav-list
      = link_to "/mypages/#{current_user.id}/logout", class: 'information-link' do
        .mypage-nav-list__item 
          ログアウト
          %i.fa.fa-chevron-right.list-icon