.mypage-nav
  %ul.mypage-nav-lists
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          マイページ
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          お知らせ
          = image_tag("carousel-next.png", class: 'list-icon')
        
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          やることリスト
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          いいね！一覧
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          出品する
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          出品した商品 - 出品中
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          出品した商品 - 取引中
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          出品した商品 - 売却済み
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          購入した商品 - 取引中
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          購入した商品 - 過去の取引
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          ニュース一覧
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          評価一覧
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          ガイド
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          お問い合わせ
          = image_tag("carousel-next.png", class: 'list-icon')
  
  %h3.mypage-nav-head メルペイ
  %ul.mypage-nav-lists
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          売上・振り込み申請
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          ポイント
          = image_tag("carousel-next.png", class: 'list-icon')
  
  %h3.mypage-nav-head 設定
  %ul.mypage-nav-lists
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          プロフィール
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          発送元・お届け先住所変更
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          支払い方法
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          メール/パスワード
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          本人情報
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          電話番号の確認
          = image_tag("carousel-next.png", class: 'list-icon')
    %li.mypage-nav-list
      = link_to noguchi_path, class: 'information-link' do
        .mypage-nav-list__item 
          ログアウト
          = image_tag("carousel-next.png", class: 'list-icon')