.exhibition

  .exhibiton-header
    .exhibition-wrapper
      %img{alt: "mercari", heigh:"49", width: "185", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966"}/

  .exhibition-main
    .exhibition-main__container
      %div{"data-reactroot" => ""}
        .exhibition-main__container__title 商品の情報を入力
        
        .sell-form
          .sell-form__image
            .sell-form__image__title
              出品画像
              %span.mandatory 必須
            %p 最大10枚までアップロードできます
            .sell-form__image__container
              %pre
                :preserve
                  ドラッグアンドドロップ
                  またはクリックしてファイルをアップロード
                  
          .sell-form__information
            .sell-form__information__name
              商品名
              %span.mandatory 必須
              %div
                %input{placeholder: "商品名（必須 40文字まで)", value: ""}/
            .sell-form__information__explanation
              %label
                商品の説明
                %span.mandatory 必須
              %p
                %textarea{placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"}
          
          .sell-form__details
            .sell-form__details__title 商品の詳細
            .sell-form__details__box
              .sell-form__details__box__group
                カテゴリー
                %span.mandatory 必須
                %div
                  .select-wrap
                    .select-default
                      %h3 ---
                      = fa_icon 'chevron-down', class: 'icon-arrow'
              .sell-form__details__box__status
                %label
                  商品の状態
                  %span.mandatory 必須
                .select-wrap
                  .select-default
                    %h3 ---
                    = fa_icon 'chevron-down', class: 'icon-arrow'

          .sell-form__shipping
            .sell-form__shipping__title 配送について
            = fa_icon 'question-circle', class: 'icon-question'
            .sell-form__shipping__box
              .sell-form__shipping__box__cost
                配送料の負担
                %span.mandatory 必須
              .select-wrap
                .select-default
                  %h3 ---
                  = fa_icon 'chevron-down', class: 'icon-arrow'
              .sell-form__shipping__box__area
                発送元の地域
                %span.mandatory 必須
              .select-wrap
                .select-default
                  %h3 ---
                  = fa_icon 'chevron-down', class: 'icon-arrow'
              .sell-form__shipping__box__days
                発送までの日数
                %span.mandatory 必須
              .select-wrap
                .select-default
                  %h3 ---
                  = fa_icon 'chevron-down', class: 'icon-arrow'

          .sell-form__price
            .sell-form__price__title 販売価格(300〜9,999,999)
            = fa_icon 'question-circle', class: 'icon-question'
            .sell-form__price__box
              %ul.sell-price
                %li.form-group
                  .price-content
                    %label.l-left
                      価格
                      %span.mandatory 必須
                    .l-right.sell-price-input
                      ¥
                      %div
                        %input.input-default{placeholder: "例）300", value: ""}/
                %li.margin
                  .l-left
                    販売手数料 (10%)
                  .l-right -
                %li.income
                  .l-left 販売利益
                  .l-right -

          .sell-form__btn-box
            %div
              %p
                = link_to '禁止されている出品','https://www.mercari.com/jp/help_center/getting_started/prohibited_items/'
                、
                = link_to '行為', 'https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/'
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to '偽ブランドの販売', 'https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/'
                は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                = link_to '加盟店規約', 'https://www.mercari.com/jp/seller_terms/'
                に同意したことになります。
            %button.btn-default.btn-red{type: "submit"}
              出品する
            %a.btn-default.btn-gray もどる
            
  .exhibition-footer
    .exhibition-footer__list
      = link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
      = link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
      = link_to '特定商取引に関する表記', 'https://www.mercari.com/jp/tokutei/'
    .exhibition-footer__logo
      %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?891577966", width: "80"}/
      %p
        %small © 2019 Mercari