.buy_comfirmation

  .buy_comfirmation-header
    .buy_comfirmation-wrapper
      = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?891577966", alt: "mercari", heigh:"49", width: "185")

  .buy_comfirmation-main
    %section.l-single-container.buy-item-container
      %h2.l-single-head 購入内容の確認
      %section.buy-content.buy-item
        .buy-content-inner
          %h3.buy-item-image
            %img.lazyloaded{:alt => "", "data-src" => "https://static.mercdn.net/thumb/photos/m40752623834_1.jpg?1559433518", :src => "https://static.mercdn.net/thumb/photos/m40752623834_1.jpg?1559433518"}/
          %p.buy-item-name.bold ユニクロ ハイウエストデニム パンツ
          %form.buy-form{:action => "https://www.mercari.com/jp/transaction/buy/done/m40752623834/", :method => "POST", :novalidate => "novalidate"}
            %p.buy-price-ja.bold
              ¥ 900
              %span.item-shipping-fee.f14.bold 送料込み
            %ul.buy-accordion.not-have
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy-price-row.buy-you-pay.bold
                .buy-price-cell 支払い金額
                .buy-price-cell
                  %span{"data-buy-pay" => "900"} ¥ 900
            %input{:name => "seller_id", :type => "hidden", :value => "381139179"}/
            %input{:name => "payment_fee", :type => "hidden", :value => "0"}/
            %input{:name => "payment_amount", :type => "hidden", :value => "900"}/
            %input{:name => "price", :type => "hidden", :value => "900"}/
            %input{:name => "category_id", :type => "hidden", :value => "156"}/
            %input{:name => "item_condition", :type => "hidden", :value => "1"}/
            %input{:name => "size", :type => "hidden", :value => "5"}/
            %input{:name => "shipping_payer", :type => "hidden", :value => "2"}/
            %input{:name => "shipping_method", :type => "hidden", :value => "5"}/
            %input{:name => "shipping_duration", :type => "hidden", :value => "1"}/
            %input{:name => "shipping_class", :type => "hidden", :value => "0"}/
            %input{:name => "zip_code1", :type => "hidden", :value => "240"}/
            %input{:name => "zip_code2", :type => "hidden", :value => "0012"}/
            %input{:name => "paid_method", :type => "hidden", :value => "card"}/
            %input{:name => "checksum", :type => "hidden", :value => "6f0213ea821e444ca75be74005ef51b7"}/
            %input{:name => "payment_card_sequence_no", :type => "hidden", :value => ""}/
            %input{:name => "payment_use_last_card_base64", :type => "hidden", :value => "eWVz"}/
            %input{:name => "item_name_base64", :type => "hidden", :value => "44Om44OL44Kv44OtIOODj+OCpOOCpuOCqOOCueODiOODh+ODi+ODoCDjg5Hjg7Pjg4Q="}/
            %input{:name => "description_base64", :type => "hidden", :value => "44OH44OL44OgIOODr+OCpOODieODkeODs+ODhOOCkuOBlOimp+OBhOOBn+OBoOOBjeOBguOCiuOBjOOBqOOBhuOBlOOBluOBhOOBvuOBmeOAggrjgZPjgaHjgonjga/jg4fjg4vjg6Av44K444O844Oz44K644Gn44GZ44CCCgrjgZTkuI3mmI7ngrnjgYzjgYLjgozjgbDjgrPjg6Hjg7Pjg4jjgojjgo3jgZfjgY/jgYrpoZjjgYTjgYTjgZ/jgZfjgb7jgZnjgIIKCuiCoeS4iyA3MCDjgqbjgqjjgrnjg4jlubPnva4gMzc="}/
            %input{:name => "brand_name_base64", :type => "hidden", :value => "MTI1MA=="}/
            %input{:name => "shipping_from_area_base64", :type => "hidden", :value => "MTA="}/
            %input{:name => "family_name_base64", :type => "hidden", :value => "5pyd5YCJ"}/
            %input{:name => "first_name_base64", :type => "hidden", :value => "5ZWT"}/
            %input{:name => "family_name_kana_base64", :type => "hidden", :value => "44Ki44K144Kv44Op"}/
            %input{:name => "first_name_kana_base64", :type => "hidden", :value => "44Kx44Kk"}/
            %input{:name => "prefecture_base64", :type => "hidden", :value => "56We5aWI5bed55yM"}/
            %input{:name => "city_base64", :type => "hidden", :value => "5qiq5rWc5biC5L+d5Zyf44Kx6LC35Yy6"}/
            %input{:name => "address1_base64", :type => "hidden", :value => "5pyI6KaL5Y+wOC0zNw=="}/
            %input{:name => "address2_base64", :type => "hidden", :value => "R+ODu0Hjg5Ljg6vjgrrkv53lnJ/jg7bosLdJSTEwMw=="}/
            %input{:name => "telephone_base64", :type => "hidden", :value => "MDgwMTY1Mjk4MzY="}/
            %input{:name => "__csrf_value", :type => "hidden", :value => "f6b5fe2e3ff6b13f2d590a2b3b042d823acb30249f08828c682d031b5e68125660036151afbdf98a071c51193b8216a6ea7a53fb796f6a627cbd87ec0ecdee771"}/
            %p.has-error-text 配送先と支払い方法の入力を完了してください。
            %button.btn-default.btn-red.bold{:disabled => "disabled", :type => "submit"} 購入する
            %input#user_info_is_not_complete{:type => "hidden"}/
      %section.buy-content.buy-user-info
        .buy-content-inner
          %h3 配送先
          %address.buy-user-info-text
            〒240-0012
            %br/
            神奈川県 横浜市保土ケ谷区
            月見台8-37
            G・Aヒルズ保土ヶ谷II103
            %br/
            朝倉 啓
          %p.buy-user-info-text
          %a.buy-user-info-fix{:href => "https://www.mercari.com/jp/transaction/address/m40752623834/"}
            %span 変更する
            %i.icon-arrow-right
      %section.buy-content.buy-user-info{"data-buy" => "pay-method"}
        .buy-content-inner
          %h3 支払い方法
          %p.buy-user-info-text
            %br/
            \/
          %figure
            %img{:alt => "", :height => "", :src => "", :width => ""}/
          %p
          %a.buy-user-info-fix{:href => "https://www.mercari.com/jp/transaction/card/m40752623834/"}
            %span 変更する
            %i.icon-arrow-right

  .buy_comfirmation-footer
    .buy_comfirmation-footer__list
      = link_to 'プライバシーポリシー', 'https://www.mercari.com/jp/privacy/'
      = link_to 'メルカリ利用規約', 'https://www.mercari.com/jp/tos/'
      = link_to '特定商取引に関する表記', 'https://www.mercari.com/jp/tokutei/'
    .buy_comfirmation-footer__logo
      = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?891577966", alt: "mercari", height: "65", src: "", width: "80")
      %p
        %small © 2019 Mercari
