.default-container  
  = render 'shared/header'

  %nav.bread-crumbs
    %ul
      %li 
        = link_to 'メルカリ', inagawa_item_detail_path, class: "bread-crumbs__link"  
        %i.fa.fa-chevron-right
      %li
      %span ユニクロ七部丈パンツ

  .mypage-card
    .mypage-card-main
      = render 'shared/credit_card'



    .mypage-card-side
      = render 'shared/mypage_nav'
  = render 'shared/footer'