.default-container  
  = render 'shared/header'

  %nav.bread-crumbs
    %ul
      %li 
        = link_to 'メルカリ', inagawa_item_detail_path, class: "bread-crumbs__link"  
        %i.fa.fa-chevron-right
      %li
      %span ユニクロ七部丈パンツ

  %main.mypage-card
    %section.payment-info
      %h2.payment-info__head 
        支払い情報
      
      .payment-info-contents
        %section.payment-info-content
          .payment-info-content__title クレジットカード一覧
      
        %section.settings-add-card
          %button.add-card-content
            = fa_icon 'credit-card', class: 'card-submit-button-icon'
            = link_to 'クレジットカードを追加する', noguchi_path, class: 'card-submit-button'
        
        .settings-not-regist
          = link_to noguchi_path, class: 'settings-not-regist-link' do
            %span.settings-not-regist-text 支払い方法について
            = image_tag("carousel-next.png", class: 'settings-not-regist-icon')



    .mypage-card-side
      = render 'shared/mypage_nav'