.default-container  
  = render 'shared/header'

  %main.user-profile
    .profile-main
      .profile-icon
        = image_tag("member_photo_noimage_thumb.png", alt: 'b', class: 'member_photo_noimage_thumb')
        %h2.users-detail__name 野口雄大
        .scores
          %span.scores__name 評価
          %span.scores__score  0
          %span.scores__name 出品数
          %span.scores__score  0
      
      .mypage-tab-todo
        .mypage-tabs
          %ul.mypage-tabs-left
            %li.mypage-tabs-left__tab
              %h3.tabs-title お知らせ
          %ul.mypage-tabs-right
            %li.mypge-tabs-right__tab
              %h3.tabs-title やることリスト
        .mypage-tab-content
          %ul.mypage-tabs-information 
            %li.mypage-tabs-information__list
              = link_to noguchi_path, class: 'information-link' do
                .list-figure
                  = image_tag("mercari_profile.png", alt: 'icon', width: '48', height: '48', class: 'mecari_icon')
                .list-body
                  .list-body__text 事務局から個別メッセージ「商品を買ってもらうには？「売り切れ」商品を参考にしよう！」
                  .list-body__icon
                    = fa_icon 'clock-o'
                    %sapn 29分前
                %i.fas.fa-chevron-right.information-list-icon
            
            %li.mypage-tabs-information__list
              = link_to noguchi_path, class: 'information-link' do
                .list-figure
                  = image_tag("mercari_profile.png", alt: 'icon', width: '48', height: '48', class: 'mecari_icon')
                .list-body
                  .list-body__text 《ご登録記念》¥1,000の商品を「実質1円」でご購入いただけます！
                  .list-body__icon
                    = fa_icon 'clock-o'
                    %sapn 29分前
                %i.fas.fa-chevron-right.information-list-icon
            %li.mypage-tabs-information__list
              = link_to noguchi_path, class: 'information-link' do
                .list-figure
                  = image_tag("mercari_profile.png", alt: 'icon', width: '48', height: '48', class: 'mecari_icon')
                .list-body
                  .list-body__text 《今だけ最大”P1,500”》売るor買うほどお得なキャンペーン実施中！今すぐ参加しよう♪
                  .list-body__icon
                    = fa_icon 'clock-o'
                    %sapn 29分前
                %i.fas.fa-chevron-right.information-list-icon
            %li.mypage-tabs-information__list
              = link_to noguchi_path, class: 'information-link' do
                .list-figure
                  = image_tag("mercari_profile.png", alt: 'icon', width: '48', height: '48', class: 'mecari_icon')
                .list-body
                  .list-body__text 明日、P999還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                  .list-body__icon
                    = fa_icon 'clock-o'
                    %sapn 29分前
                %i.fas.fa-chevron-right.information-list-icon
            %li.mypage-tabs-information__list
              = link_to noguchi_path, class: 'information-link' do
                .list-figure
                  = image_tag("mercari_profile.png", alt: 'icon', width: '48', height: '48', class: 'mecari_icon')
                .list-body
                  .list-body__text 事務局から個別メッセージ「商品を買ってもらうには？タイトルと説明文を確認しよう！」
                  .list-body__icon
                    = fa_icon 'clock-o'
                    %sapn 29分前
                %i.fas.fa-chevron-right.information-list-icon
            %li.mypage-tabs-information__lists
              = link_to '一覧をみる', noguchi_path, class: 'informations-link' 
      
      .mypage-tab
        %h2.mypage-tab-head 
          購入した商品
        .mypage-tabs
          %ul.mypage-tabs-left
            %li.mypage-tabs-left__tab
              %h3.tabs-title 取引中
          %ul.mypage-tabs-right
            %li.mypge-tabs-right__tab
              %h3.tabs-title 過去の取引
        .mypage-tab-content
          %ul.transaction-now
            %li.transaction-not-found 取引中の商品がありません



    .profile-side
      = render 'shared/mypage_nav'
  
  = render 'shared/footer'