.default-container  
  = render 'shared/header'

  - breadcrumb :payment_information
  = render "./shared/breadcrumbs"

  %main.mypage-card
    %section.payment-info
      %h2.payment-info__head 
        支払い方法
      
      .payment-info-contents
        .buy-item-container__payment
        .buy-item-container__payment__box
          %h3.buy-item-container__payment__box--list クレジットカード一覧
          %p.user-card-info
            = "************#{@default_card_information.last4}"
            %br
            = "#{@default_card_information.exp_month} / #{@default_card_information.exp_year.to_s.slice(2,4)}"
          %figure
            = image_tag("card_logo_#{@default_card_information.brand}", alt: 'カード会社画像', width: '80', height: '80')
        
        .settings-not-regist
          = link_to  root_path, class: 'settings-not-regist-link' do
            %span.settings-not-regist-text 支払い方法について
            = fa_icon 'chevron-right', class: 'icon-arrow'



    .mypage-card-side
      = render 'shared/mypage_nav'
    
  = render 'shared/footer'
  = render 'shared/sell_page_btn'