.default-container  
  = render 'shared/header'

  - breadcrumb :exhibition_list
  = render "./shared/breadcrumbs"

  %main.user-profile
    .profile-main   
      .mypage-tab
        %h2.mypage-tab-head 
          出品した商品
        .mypage-tabs
          %ul.mypage-tabs-left
            %li.mypage-tabs-left__tab
              %h3.tabs-title 出品中
          %ul.mypage-tabs-right
            %li.mypge-tabs-right__tab
              %h3.tabs-title 取引中
          %ul.mypage-tabs-right{style: "border-left: 1px solid #ccc; border-top: 2px solid #ea352d; padding-top: 25px;"}
            %li.mypge-tabs-right__tab
              %h3.tabs-title 売却済み

        .mypage-tab-content
          %ul.transaction
            - @items.each do |item|
              - if item.status == 1
                %li.transaction-now
                  .figure
                    = link_to image_tag("#{item.images.first.image}", height: 48, width: 48, alt: '画像')
                  .mypage-item-body
                    .mypage-item-body__text
                      = item.name
                    .mypage-item-status-done
                      売却済
                  = fa_icon "chevron-right"

    .profile-side
      = render 'shared/mypage_nav'
  
  = render 'shared/footer'
  = render 'shared/sell_page_btn'