.user-identification-form__body__page--body
  = render 'shared/header'
  .user-identification-form__body-wrapper
    = render 'shared/mypage_nav'
    .user-identification-form
      %section.user-identification-form__body
        %h2.user-identification-form__body__title
          本人情報の登録
        %form.user-identification-form__body__forms
          .user-identification-form__body__forms__content
            %p.user-identification-form__body__forms__content__text
              お客さまの本人情報をご登録ください。
              %br
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            %p.user-identification-form__body__forms__content__up-link
              = link_to extra_view_path, class: "user-identification-form__body__forms__content__up-link__text" do
                本人確認書類のアップロードについて
                = fa_icon "chevron-right", class: "user-identification-form__body__forms__content__up-link__icon"
          .user-identification-form__body__forms__content__form-groups
            %label.user-identification-form__body__forms__content__form-groups__name
              お名前
            %p.user-identification-form__body__forms__content__form-groups__name--user
              犬
          .user-identification-form__body__forms__content__form-groups
            %label.user-identification-form__body__forms__content__form-groups__kana
              お名前カナ
            %p.user-identification-form__body__forms__content__form-groups__kana
              イヌ
          .user-identification-form__body__forms__content__form-groups
            %label.user-identification-form__body__forms__content__form-groups__birth-day
              生年月日
            %p.user-identification-form__body__forms__content__form-groups__birth-day
              2000/05/19
          .user-identification-form__body__forms__content__form-groups
            %label{for: "zip_code", class: "user-identification-form__body__forms__content__form-groups__"}
              郵便番号
            %span.user-identification-form__body__forms__content__form-groups__any--tag 
              任意
            %input.user-identification-form__body__forms__content__form-groups__input-area{name: "zip_code", placeholder: "例）1234567", :type => "text", :value => "0000000"}/
          .user-identification-form__body__forms__content__form-groups
            %label{for: "zip_code", class: "user-identification-form__body__forms__content__form-groups__"}
              都道府県
            %span.user-identification-form__body__forms__content__form-groups__any--tag 
              任意
            .user-identification-form__body__forms__content__form-groups__prefectures
              = fa_icon "chevron-down", class:"user-identification-form__body__forms__content__form-groups__prefectures--icon"
              %select.user-identification-form__body__forms__content__form-groups__prefectures--list{name: "prefecture"}
                %option --
                %option 北海道
                %option 青森県
                %option 岩手県
                %option 宮城県
                %option 秋田県
                %option 山形県
                %option 福島県
                %option 東京都
                %option 神奈川県
                %option{selected: "selected"} 埼玉県
                %option 千葉県
                %option 茨城県
                %option 栃木県
                %option 群馬県
                %option 山梨県
                %option 新潟県
                %option 長野県
                %option 富山県
                %option 石川県
                %option 福井県
                %option 愛知県
                %option 岐阜県
                %option 静岡県
                %option 三重県
                %option 大阪府
                %option 兵庫県
                %option 京都府
                %option 滋賀県
                %option 奈良県
                %option 和歌山県
                %option 鳥取県
                %option 島根県
                %option 岡山県
                %option 広島県
                %option 山口県
                %option 徳島県
                %option 香川県
                %option 愛媛県
                %option 高知県
                %option 福岡県
                %option 佐賀県
                %option 長崎県
                %option 熊本県
                %option 大分県
                %option 宮崎県
                %option 鹿児島県
                %option 沖縄県

            .user-identification-form__body__forms__content__form-groups
            %label{for: "zip_code", class: "user-identification-form__body__forms__content__form-groups__"}
              市区町村
            %span.user-identification-form__body__forms__content__form-groups__any--tag 
              任意
            %input.user-identification-form__body__forms__content__form-groups__input-area{name: "zip_code", placeholder: "例）1234567", :type => "text", :value => "しぶや"}/
            .user-identification-form__body__forms__content__form-groups
            %label{for: "zip_code", class: "user-identification-form__body__forms__content__form-groups__"}
              番地
            %span.user-identification-form__body__forms__content__form-groups__any--tag 
              任意
            %input.user-identification-form__body__forms__content__form-groups__input-area{name: "zip_code", placeholder: "例）1234567", :type => "text", :value => "１０３"}/
            .user-identification-form__body__forms__content__form-groups
            %label{for: "zip_code", class: "user-identification-form__body__forms__content__form-groups__"}
              建物名
            %span.user-identification-form__body__forms__content__form-groups__any--tag 
              任意
            %input.user-identification-form__body__forms__content__form-groups__input-area{name: "zip_code", placeholder: "例）1234567", :type => "text", :value => "アジアビル"}/
            %button.user-identification-form__body__forms__content__form-groups--btn{type: "submit"} 登録する
            .user-identification-form__body__forms__content__form-groups__question
              %p.user-identification-form__body__forms__content__form-groups__question__text
                = link_to extra_view_path, class: "user-identification-form__body__forms__content__form-groups__question__text__link" do
                  本人情報の登録について
                  = fa_icon "chevron-right", class: "user-identification-form__body__forms__content__form-groups__question__text__link__icon"
= render 'shared/footer'