.exhibition

  .exhibiton-header
    .exhibition-wrapper
      = link_to image_tag("logo.svg", width: '185', height: '49', alt: 'メインアイコン'), root_path

  .exhibition-main
    .exhibition-main__container
      %div{"data-reactroot" => ""}
        .exhibition-main__container__title 商品の情報を入力
        
        .sell-form
          = form_for @item, html: {id:'new_item'} do |f|
            .sell-form__image
              .sell-form__image__title
                出品画像
                %span.mandatory 必須
              .subtitle 最大10枚までアップロードできます

      
              = f.fields_for :images, @item.images do |image|
                .sell-form__image__container
                  .sell-form__image__container__chirdren
                    #preview
                    .sell-form__image__container__input
                      = image.label :image, for: "upload-image" do
                        .input-area
                          = image.file_field :image, multiple: true, name: 'item_images[image][]', id: "upload-image", class: "upload-image", 'data-image': 0
                  -# %pre
                  -#   :preserve
                  -#     ドラッグアンドドロップ
                  -#     またはクリックしてファイルをアップロード
                .sell-form__image__container2
                  .sell-form__image__container__chirdren2
                    #preview2
                    .sell-form__image__container__input2
                      = image.label :image, for: "upload-image" do
                        .input-area
                          = image.file_field :image, multiple: true, name: 'item_images[image][]', id: "upload-image", class: "upload-image", 'data-image': 0
                  -# %pre
                  -#   :preserve
                  -#     ドラッグアンドドロップ
                  -#     またはクリックしてファイルをアップロード
                %p.error_message.type1
                    

            .sell-form__information
              .sell-form__information__name
                商品名
                %span.mandatory 必須
                %div
                  = f.text_field :name, class: 'form__message', placeholder: '商品名（必須 40文字まで)'
                  %p.error_message.type2
                  %p.error_message.type10
              .sell-form__information__explanation
                = f.label :商品の説明
                %span.mandatory 必須
              %p
                = f.text_field :text, class: 'long-text', placeholder: '商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。'
                %p.error_message.type3
                %p.error_message.type11
              
            .sell-form__details
              .sell-form__details__title 商品の詳細
              .sell-form__details__box
                .sell-form__details__box__group
                  カテゴリー
                  %span.mandatory 必須
                  .sell-form-category
                    .sell_form_box__tab
                      .select-wrap
                        = f.select :category_id, @category_parent_array, {}, class: "select-default", id: 'parent_category'
                        = fa_icon 'chevron-down', class: 'icon-arrow'

                .sell-form__details__box__status
                  %label
                    商品の状態
                    %span.mandatory 必須
                  .select-wrap
                    = f.select :state, [["---", ""], ["新品、未使用", "新品、未使用"], ["未使用に近い", "未使用に近い"], ["目立った傷や汚れなし", "目立った傷や汚れなし"], ["やや傷や汚れあり", "やや傷や汚れあり"], ["傷や汚れあり", "傷や汚れあり"], ["全体的に状態が悪い", "全体的に状態が悪い"]]
                    = fa_icon 'chevron-down', class: 'icon-arrow'
                    %p.error_message.type4
            .sell-form__shipping
              .sell-form__shipping__title 配送について
              = fa_icon 'question-circle', class: 'icon-question'
              .sell-form__shipping__box
                .sell-form__shipping__box__cost
                  配送料の負担
                  %span.mandatory 必須
                  .select-wrap
                    = f.select :postage_type, [["---", ""], ["送料込み(出品者負担)", "送料込み(出品者負担)"], ["着払い(購入者負担)", "着払い(購入者負担)"]]
                    = fa_icon 'chevron-down', class: 'icon-arrow'
                    %p.error_message.type5
                .sell-form__shipping__box__method
                  発送の方法
                  %span.mandatory 必須
                  .select-wrap
                    = f.select :delivery_method, [["---",""], ["未定","未定"], ["らくらくメルカリ便","らくらくメルカリ便"], ["ゆうメール","ゆうメール"], ["レターパック","レターパック"], ["普通郵便(定形、定形外)","普通郵便(定形、定形外)"], ["クロネコヤマト","クロネコヤマト"], ["ゆうパック","ゆうパック"], ["クリックポスト","クリックポスト"], ["ゆうパケット","ゆうパケット"]]
                    = fa_icon 'chevron-down', class: 'icon-arrow'  
                    %p.error_message.type6
                .sell-form__shipping__box__area
                  発送元の地域
                  %span.mandatory 必須
                  .select-wrap
                    = f.select :region, [["---",""], ["北海道","北海道"], ["青森県","青森県"], ["岩手県","岩手県"], ["宮城県","宮城県"], ["秋田県","秋田県"], ["山形県","山形県"], ["福島県","福島県"], ["茨城県","茨城県"], ["栃木県","栃木県"], ["群馬県","群馬県"], ["埼玉県","埼玉県"], ["千葉県","千葉県"], ["東京都","東京都"], ["神奈川県","神奈川県"], ["新潟県","新潟県"], ["富山県","富山県"], ["石川県","石川県"], ["福井県","福井県"], ["山梨県","山梨県"], ["長野県","長野県"], ["岐阜県","岐阜県"], ["静岡県","静岡県"], ["愛知県","愛知県"], ["三重県","三重県"], ["滋賀県","滋賀県"], ["京都府","京都府"], ["大阪府","大阪府"], ["兵庫県","兵庫県"], ["奈良県","奈良県"], ["和歌山県","和歌山県"], ["鳥取県","鳥取県"], ["島根県","島根県"], ["岡山県","岡山県"], ["広島県","広島県"], ["山口県","山口県"], ["徳島県","徳島県"], ["香川県","香川県"], ["愛媛県","愛媛県"], ["高知県","高知県"], ["福岡県","福岡県"], ["佐賀県","佐賀県"], ["長崎県","長崎県"], ["熊本県","熊本県"], ["大分県","大分県"], ["宮崎県","宮崎県"], ["鹿児島県","鹿児島県"], ["沖縄県","沖縄県"], ["未定","未定"]]
                    = fa_icon 'chevron-down', class: 'icon-arrow'
                    %p.error_message.type7
                .sell-form__shipping__box__days
                  発送までの日数
                  %span.mandatory 必須
                  .select-wrap
                    = f.select :shopping_date, [["---",""], ["1~2日で発送","1~2日で発送"], ["2~3日で発送","2~3日で発送"], ["4~7日で発送","4~7日で発送"]]
                    = fa_icon 'chevron-down', class: 'icon-arrow'
                    %p.error_message.type8

            .sell-form__price
              .sell-form__price__title 販売価格(300〜9,999,999)
              = fa_icon 'question-circle', class: 'icon-question'
              .sell-form__price__box
                %ul.sell-price
                  %li.form-group
                    .price-content
                      %label.l-left
                        価格
                        %span.mandatory 必須
                      .l-right-box
                        .l-right.sell-price-input
                          ¥
                        = f.text_field :price, class: 'sell-price', placeholder: '例）300'
                      %p.error_message.type9
                  %li.margin
                    .margin-left
                      販売手数料 (10%)
                    .margin-right -
                  %li.income
                    .income-left 販売利益
                    .income-right -

            .sell-form__btn-box
              %div
                %p
                  = link_to '禁止されている出品','https://www.mercari.com/jp/help_center/getting_started/prohibited_items/'
                  、
                  = link_to '行為', 'https://www.mercari.com/jp/help_center/getting_started/prohibited_conduct/'
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to '偽ブランドの販売', 'https://www.mercari.com/jp/help_center/getting_started/counterfeit_goods/'
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to '加盟店規約', 'https://www.mercari.com/jp/seller_terms/'
                  に同意したことになります。
              = f.submit '出品する', class: 'sell-item-btn'
              = link_to 'もどる', root_path, class: "btn__default-gray"
  
  = render 'shared/signup_footer'