.single-container
  = render 'shared/header'

  %main.serch-container.clearfix
    .serch-container__content
      %section.items-box
        %h2.search-result
          -if @keyword != ""
            #{@keyword}
            %span.search-result__nal の検索結果
          -else
            新着商品

        .result-number
          1 - 132件表示
        .items-box__content
          - @items.each_with_index do |item,i|
            - if (i+1)%4 != 0
              %section.item
                -if item.status == 1
                  .sold-out
                    .sold_tag
                      %p SOLD
                .top-main__contents__item-box__image
                  - item.images.each_with_index do |image, index|
                    - if index == 0
                      = link_to image_tag("#{image.image.url}", width: '160', height: '160', alt: "アイテム個別画像"), "/items/#{item.id}", class: "top-main__contents__item-box__image__img"
                      - break
                .top-main__contents__item-box__body
                  %h3.top-main__contents__item-box__body__text
                    = item.name
                  .top-main__contents__item-box__body__flex-box
                    = number_to_currency(item.price, unit: "￥", precision: 0, format: "%u%n")
                  .top-main__contents__item-box__body__status
                    = fa_icon "heart", class: "top-main__contents__item-box__body__flex-box--status--font"
                    %span.top-main__contents__item-box__body__flex-box--status--good-count
            - else
              %section.item{style: "margin-right: 0;"}
                .top-main__contents__item-box__image
                  - item.images.each_with_index do |image, index|
                    - if index == 0
                      = link_to image_tag("#{image.image.url}", width: '160', height: '160', alt: "アイテム個別画像"), "/items/#{item.id}", class: "top-main__contents__item-box__image__img"
                      - break
                .top-main__contents__item-box__body
                  %h3.top-main__contents__item-box__body__text
                    = item.name
                  .top-main__contents__item-box__body__flex-box
                    = number_to_currency(item.price, unit: "￥", precision: 0, format: "%u%n")
                  .top-main__contents__item-box__body__status
                    = fa_icon "heart", class: "top-main__contents__item-box__body__flex-box--status--font"
                    %span.top-main__contents__item-box__body__flex-box--status--good-count

    .serch-container__side
      = search_form_for @search, url: search_items_path, :html => {class: "search-extend"} do |f|
        .search-sort
          .form-group
            %i.icon-arrow-bottom
            = f.select( :sorts, { '並び替え': 'id desc', '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' } , { selected: params[:q][:sorts] }, { onchange: 'this.form.submit()'})
        .search-dropdown
          %h3 詳細検索
          .form-group
            %label
              %i.icon-plus
              %span キーワードを追加する
            = f.text_field :name_cont, placeholder: "例) 値下げ", class: "input-default", value: "#{@keyword}"
          .form-group
            %label
              %i.icon-plus
              %span カテゴリーを選択する
            .select-wrap
              %i.icon-arrow-bottom
              = f.select :category_id, @category_parent_array, {}, class: "select-default", id: 'parent_category'
          .form-group.search-brand
            %label
              %i.icon-plus
              %span ブランド名から探す
            %input.input-default{placeholder: "例) シャネル"}
          .form-group
            %label
              %i.icon-size
              %span サイズを指定する
            .select-wrap
              %i.icon-arrow-bottom
              %select
                %option 全て
                %option 洋服のサイズ
                %option 靴のサイズ
                %option パンツのサイズ
          .form-group.search-price
            %label
              %i.icon-coin
              %span 値段
            .select-wrap
              %i.icon-arrow-bottom
              = f.select :price_in, [['選択してください', ''],['300 ~ 1000', 300..1000], ['1001 ~ 10000', 1001..10000], ['10001 ~ 100000', 10001..100000]]
              = f.text_field :price_gteq, placeholder: "¥ Min", class: "input-default herf"
              %span ~
              = f.text_field :price_lteq, placeholder: "¥ Max", class: "input-default herf"
          .form-group.crerfix
            %label
              %i.icon-coin
              %span 商品の状態
            .pfom-check
              .checkbox-default
                =f.check_box :state_eq_any,{multiple: true},'',''
                =f.label :state_eq_any, "すべて"
              .checkbox-default
                =f.check_box :state_eq_any,{multiple: true},"新品、未使用",''
                =f.label :state_eq_any, "新品、未使用"
              .checkbox-default
                =f.check_box :state_eq_any,{multiple: true},"未使用に近い",''
                =f.label :state_eq_any, "未使用に近い"
              .checkbox-default
                =f.check_box :state_eq_any,{multiple: true},"目立った傷や汚れなし",''
                =f.label :state_eq_any, "目立った傷や汚れなし"
              .checkbox-default
                =f.check_box :state_eq_any,{multiple: true},"やや傷や汚れあり",''
                =f.label :state_eq_any, "やや傷や汚れあり"
              .checkbox-default
                =f.check_box :state_eq_any,{multiple: true},"傷や汚れあり",''
                =f.label :state_eq_any, "傷や汚れあり"
              .checkbox-default
                =f.check_box :state_eq_any,{multiple: true},"全体的に状態が悪い",''
                =f.label :state_eq_any, "全体的に状態が悪い"
          .form-group.crerfix
            %label
              %i.icon-coin
              %span 配送料の負担
            .pfom-check
              .checkbox-default
                =f.check_box :postage_type_eq_any,{multiple: true},'',''
                =f.label :postage_type_eq_any, "すべて"
              .checkbox-default
                =f.check_box :postage_type_eq_any,{multiple: true},"着払い(購入者負担)",''
                =f.label :postage_type_eq_any, "着払い"
              .checkbox-default
                =f.check_box :postage_type_eq_any,{multiple: true},"送料込み(出品者負担)",''
                =f.label :postage_type_eq_any, "送料込み"
          .form-group.crerfix
            %label
              %i.icon-coin
              %span 販売状況
            .pfom-check
              .checkbox-default
                =f.check_box :status_eq_any,{multiple: true},'',''
                =f.label :status_eq_any, "すべて"
              .checkbox-default
                =f.check_box :status_eq_any,{multiple: true},'0',''
                =f.label :status_eq_any, "販売中"
              .checkbox-default
                =f.check_box :status_eq_any,{multiple: true},'1',''
                =f.label :status_eq_any, "売り切れ"
          .search-extend-btn.clearfix
            .btn-default.gray クリア
            =f.submit "完了", class: "btn-default red"


  = render 'shared/footer'
  = link_to  new_item_path, class: 'submit-btn-link' do
    .submit-btn 出品
    = fa_icon 'camera', class: 'submit-button-icon'
