= render 'shared/header'
//商品詳細画面
.container
  %nav.bread-crumbs
    %ul
      %li 
        = link_to 'メルカリ',  root_path, class: "bread-crumbs__link"  
        %i.fa.fa-chevron-right
      %li
        %span ユニクロ七部丈パンツ
  .item-wrapper
    .item-box
      %h1.item-box__item-name ユニクロ七部丈パンツ
      .item-box__main-content
        .item-box__main-content__photo
          = image_tag("mark-zuckerberg1.jpg")
        %table.item-box__main-content__detail
          %tbody
            %tr
              %th 出品者
              %td
                = link_to '名前',  root_path
                .item-box__main-content__detail__ratings
                  .item-box__main-content__detail__ratings__rate
                    = image_tag("smile.svg", alt: 'smail', height: 16, width: 16)
                    %span 100
                  .item-box__main-content__detail__ratings__rate
                    = image_tag("face.svg", alt: 'smail', height: 16, width: 16)
                    %span 50
                  .item-box__main-content__detail__ratings__rate
                    = image_tag("bad.svg", alt: 'smail', height: 16, width: 16)
                    %span 10
            %tr
              %th カテゴリー
              %td
                = link_to 'ベビー・キッズ',  root_path 
            %tr
              %th ブランド
              %td
                = link_to 'ユニクロ',  root_path
            %tr
              %th 商品のサイズ
              %td 80cm
            %tr
              %th 商品の状態
              %td 目立った傷や汚れなし
            %tr
              %th 配送料の負担
              %td 送料込み
            %tr
              %th 配送の方法
              %td 未定
            %tr
              %th 配送元地域
              %td 神奈川県
            %tr
              %th 発送日の目安
              %td １〜２日で発送
        .item-box__main-content__price-box
          %span.item-box__main-content__price-box__price ¥500
          %span.item-box__main-content__price-box__tax 税込
          %span.item-box__main-content__price-box__shipping-fee 送料込み
        %section.item-box__main-content__buy
          %a.item-box__main-content__buy__btn 購入画面に進む
        
      .item-box__description
        %p.item-box__description__text ユニクロの七分丈パンツ 詳細ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
      .item-box__btn
        .item-box__btn--left
          %button.item-box__btn--left--like
            %i.fa.fa-heart
            %span いいね! 0
          = link_to  root_path, class: "item-box__btn--left--report" do
            %i.fa.fa-flag
            %span 不適切な商品の報告
        .item-box__btn--right
          = link_to  root_path, class: "item-box__btn--right__safety" do
            %i.fa.fa-lock
            %span あんしん・あんぜんへの取り組み
    
    .item-message
      .item-message__container
        .item-message__container__content
          %form.item-message__container__content__form
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea
            %button.item-message__container__content__form__submit-btn
              %span コメントする

    %ul.item-link
      %li.item-link__prev
        = link_to  root_path do
          %i.fa.fa-chevron-left
          前の商品
      %li.item-link__next
        = link_to  root_path do
          次の商品
          %i.fa.fa-chevron-right

    .item-social-media
      %ul.item-social-media__list
        %li
          = link_to  root_path, class: "facebook" do
            %i.fa.fa-facebook-square
        %li
          = link_to  root_path, class: "twitter" do
            %i.fa.fa-twitter-square
        %li
          = link_to  root_path, class: "pinterest" do
            %i.fa.fa-pinterest-square
    .other-items
      %section.other-items__user
        .other-items__user__head
          = link_to '出品者さんのその他の出品',  root_path 
        .other-items__user__contents
          = render 'shared/item'
          = render 'shared/item'
          = render 'shared/item'
          = render 'shared/item'

      %section.other-items__user
        .other-items__user__head
          = link_to 'ユニクロのその他の出品',  root_path 
        .other-items__user__contents
          %section.other-items__user__contents__content
            = link_to  root_path do
              .other-items__user__contents__content__photo
                = image_tag("mark-zuckerberg1.jpg")
              .other-items__user__contents__content__body
                .other-items__user__contents__content__body__name ザック
                .other-items__user__contents__content__body__num
                  .other-items__user__contents__content__body__num__price ¥100
                  .other-items__user__contents__content__body__num__like
                    %i.fa.fa-heart
                      %span 2
          %section.other-items__user__contents__content
            = link_to  root_path do
              .other-items__user__contents__content__photo
                = image_tag("mark-zuckerberg1.jpg")
              .other-items__user__contents__content__body
                .other-items__user__contents__content__body__name ザック
                .other-items__user__contents__content__body__num
                  .other-items__user__contents__content__body__num__price ¥100
                  .other-items__user__contents__content__body__num__like
                    %i.fa.fa-heart
                      %span 2
          %section.other-items__user__contents__content
            = link_to  root_path do
              .other-items__user__contents__content__photo
                = image_tag("mark-zuckerberg1.jpg")
              .other-items__user__contents__content__body
                .other-items__user__contents__content__body__name ザック
                .other-items__user__contents__content__body__num
                  .other-items__user__contents__content__body__num__price ¥100
                  .other-items__user__contents__content__body__num__like
                    %i.fa.fa-heart
                      %span 2
          %section.other-items__user__contents__content
            = link_to  root_path do
              .other-items__user__contents__content__photo
                = image_tag("mark-zuckerberg1.jpg")
              .other-items__user__contents__content__body
                .other-items__user__contents__content__body__name ザック
                .other-items__user__contents__content__body__num
                  .other-items__user__contents__content__body__num__price ¥100
                  .other-items__user__contents__content__body__num__like
                    %i.fa.fa-heart
                      %span 2
= render 'shared/footer'