= render 'shared/header'
//商品詳細画面
.container

  - breadcrumb :item_show_page
  = render "./shared/breadcrumbs"
  
  .item-wrapper
    .item-box
      %h1.item-box__item-name 
        = @item.name
      .item-box__main-content
        .item-box__main-content__photo
          #wrap
            %ul#slider
              - @images.each do |image|
                %li.slide-item
                  = image_tag "#{image.image.url}", height: 300, width: 300, alt: '画像'
                  
            %ul#thumbnail-list
              - @images.each do |image|
                %li.thumbnail-item
                  = image_tag "#{image.image.url}", height: 60, width: 60, alt: 'サムネイル'
              
          
        %table.item-box__main-content__detail
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "#{@item.user.nickname}",  "/users/#{@item.user.id}"
                .item-box__main-content__detail__ratings
                  .item-box__main-content__detail__ratings__rate
                    = image_tag("smile.svg", alt: 'smail', height: 16, width: 16)
                    %span 100
                  .item-box__main-content__detail__ratings__rate
                    = image_tag("face.svg", alt: 'smail', height: 16, width: 16)
                    %span 50
                  .item-box__main-content__detail__ratings__rate
                    = image_tag("bad.svg", alt: 'smail', height: 16, width: 16)
                    %span 10
            %tr
              %th カテゴリー
              %td
                = link_to 'ベビー・キッズ',  root_path 
            %tr
              %th ブランド
              %td
                = link_to 'ユニクロ',  root_path
            %tr
              %th 商品のサイズ
              %td 80cm
            %tr
              %th 商品の状態
              %td 
                = @item.state
            %tr
              %th 配送料の負担
              %td 
                = @item.postage_type
            %tr
              %th 配送の方法
              %td
                = @item.delivery_method
            %tr
              %th 配送元地域
              %td 
                = @item.region
            %tr
              %th 発送日の目安
              %td 
                = @item.shopping_date
        .item-box__main-content__price-box
          %span.item-box__main-content__price-box__price
            = number_to_currency(@item.price, unit: "￥", precision:0, format: "%u%n")
          %span.item-box__main-content__price-box__tax 税込
          %span.item-box__main-content__price-box__shipping-fee
            = @item.postage_type
      - if user_signed_in? && current_user.id != @item.user_id
        -if @item.status == 0
          %section.item-box__main-content__buy
            = link_to '購入画面に進む', item_transaction_index_path(@item), class: "item-box__main-content__buy__btn"
        -elsif @item.status == 1
          %section.item-box__main-content__buy
            %a.item-box__main-content__buy__btn{style: "background-color: #888;"} 売り切れました
        
      .item-box__description
        %p.item-box__description__text
          = @item.text

      .item-box__change-box
      - if user_signed_in? && current_user.id == @item.user_id
        %section.item-box__main-content__buy
          = link_to '商品の編集', edit_item_path, class: "item-box__main-content__buy__btn",  data: {"turbolinks": false}
        %section.item-box__main-content__buy
          = link_to '販売停止', buy_confirmation_items_path, class: "item-box__main-content__buy__btn"
        %section.item-box__main-content__buy
          = link_to 'この商品を削除する', "/items/#{@item.id}",class: "item-box__main-content__buy__btn", method: :delete
      .item-box__btn
      - if user_signed_in? && current_user.id != @item.user_id
        .item-box__btn--left
          %button.item-box__btn--left--like
            %i.fa.fa-heart
            %span いいね! 0
          = link_to  root_path, class: "item-box__btn--left--report" do
            %i.fa.fa-flag
            %span 不適切な商品の報告
        .item-box__btn--right
          = link_to  root_path, class: "item-box__btn--right__safety" do
            %i.fa.fa-lock
            %span あんしん・あんぜんへの取り組み
    .item-message
      .item-message__container
        .item__comment--box
          - if @item.comments
            - @item.comments.each do |comment|
              - if comment.user.id == @item.user_id
                .balloon5
                  .faceicon
                    %img{src: "/assets/member_photo_noimage_thumb.png"}/
                  .chatting
                    .says
                      %p 
                        = comment.text
                    .comment-users--name
                      = comment.user.nickname
              - else
                .balloon5
                  .faceicon
                    %img{src: "/assets/member_photo_noimage_thumb.png", style: 'border: solid 3px #FF7F50'}/
                  .chatting
                    .says{style: 'background-color: #FF7F50'}
                      %p 
                        = comment.text
                    .comment-users--name
                      = comment.user.nickname
                  
        .item-message__container__content
          = form_for [@item,@comment], html: {class: "item-message__container__content__form"} do |f|
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.text_area :text 
            = f.submit 'コメントする', class: "item-message__container__content__form__submit-btn"

    %ul.item-link
      %li.item-link__prev
        - if @item.next.present?
          = link_to "/items/#{@item.previous.id}" do

            %i.fa.fa-chevron-left
            = @item.previous.name
      %li.item-link__next
        - if @item.next.present?
        
          = link_to  "/items/#{@item.next.id}" do
            = @item.next.name
            %i.fa.fa-chevron-right

    .item-social-media
      %ul.item-social-media__list
        %li
          = link_to  root_path, class: "facebook" do
            %i.fa.fa-facebook-square
        %li
          = link_to  root_path, class: "twitter" do
            %i.fa.fa-twitter-square
        %li
          = link_to  root_path, class: "pinterest" do
            %i.fa.fa-pinterest-square
    .other-items
      %section.other-items__user
        .other-items__user__head
          = link_to '出品者さんのその他の出品',  root_path 
        .other-items__user__contents
          = render 'shared/item'

= render 'shared/footer'
