!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample55b
    %script{:src => "https://js.pay.jp/", :type => "text/javascript"}
    %script{:async => "", :defer => "defer", :src => "https://www.google.com/recaptcha/api.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = include_gon

    = stylesheet_link_tag    "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    = stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'


    
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:crossorigin => "“anonymous”", :href => "“https://use.fontawesome.com/releases/v5.5.0/css/all.css”", :integrity => "“sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU”", :rel => "“stylesheet”"}/
    -# %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
    -# %script{:src => "/assets/jquery.ripples-min.js"}
    -# %script{:src => "/assets/ripple.js"}
    




  %body
    = yield
    -# 以下プラグイン用
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    
  
